In [3]:
import pandas as pd, matplotlib.pyplot as plt, numpy as np

In [6]:
df = pd.read_csv(r'D:\PROJECTS\demo-analysis-timeline\res\scrims\bind_16_08_2023_time_20_30.csv', sep='\t', index_col=0)
df1 = pd.read_csv(r'D:\PROJECTS\demo-analysis-timeline\res\scrims\bind_16_08_2023_time_20_32.csv', sep='\t', index_col=0)

In [9]:
final = df.combine(df1)

TypeError: DataFrame.combine() missing 1 required positional argument: 'func'

In [9]:
df.query('planted == True & round_win == "win"').count()

first_kill     11
time           11
first_death    11
planted        11
defuse         11
round_win      11
side           11
dtype: int64

In [17]:
df.query('first_death == "Jett"')

   first_kill  time first_death  planted  defuse round_win     side
1     Chamber  0:08        Jett     True   False      loss  Defense
10    Chamber  0:06        Jett    False   False       win  Defense
16     Cypher  0:02        Jett    False   False      loss   Attack
20    Chamber  0:02        Jett     True   False       win   Attack

In [18]:
df.query('time < "0:30"')

   first_kill  time first_death  planted  defuse round_win     side
1     Chamber  0:08        Jett     True   False      loss  Defense
2        Jett  0:12     Chamber     True   False      loss  Defense
3        Skye  0:15       Reyna     True    True       win  Defense
4       Reyna  0:08        Neon     True    True       win  Defense
5        Raze  0:14      Cypher     True   False      loss  Defense
6        Neon  0:10      Cypher     True   False      loss  Defense
7       Reyna  0.43       KAY/O     True   False      loss  Defense
8        Jett  0:03       KAY/O     True   False      loss  Defense
9        Jett  0:03   Brimstone    False   False       win  Defense
10    Chamber  0:06        Jett    False   False       win  Defense
11      Reyna  0.33       Reyna     True   False      loss  Defense
12       Jett  0:04   Brimstone     True    True       win  Defense
13    Phoenix  0:07       Reyna     True   False       win   Attack
14       Jett  0:03       Reyna     True   False       win   Attack
15       Jett  0:08       Reyna     True   False       win   Attack
16     Cypher  0:02        Jett    False   False      loss   Attack
17    Phoenix  0:07       KAY/O    False   False      loss   Attack
18      Reyna  0:06      Cypher    False   False      loss   Attack
19      Reyna  0:13     Phoenix     True   False       win   Attack
20    Chamber  0:02        Jett     True   False       win   Attack
21       Jett  0:05   Brimstone     True   False       win   Attack
22  Brimstone  0:06     Phoenix     True   False       win   Attack
23       Jett  0:08       KAY/O    False   False      loss   Attack
24  Brimstone  0:17        Raze     True   False       win   Attack

0.4583333333333333