In [ ]:
import pandas as pd, matplotlib.pyplot as plt, numpy as np

In [48]:
df = pd.read_csv(r'D:\PROJECTS\demo-analysis-timeline\res\scrims\scrim_14_08_2023_time_15_05.csv', sep='\t', index_col=0)

In [54]:
df

   first_kill  time first_death  planted  defuse round_win
1       Reyna  0.21        Jett     True    True      loss
2        Jett  0:03       Reyna     True   False       win
3      Cypher  0:13        Neon     True   False       win
4        Jett  0:26        Sova     True    True      loss
5        Omen  0:10        Raze    False   False      loss
6        Jett  0:03     Phoenix    False   False      loss
7        Raze  0:03        Jett     True   False       win
8      Cypher  0:10        Jett     True   False       win
9     Phoenix  0.22        Sova     True   False       win
10       Jett  0:04        Jett     True   False       win
11       Omen  0:10     Phoenix    False   False       win
12       Jett  0:04        Neon    False   False      loss
13      Reyna  0:07        Raze     True   False      loss
14      Reyna  0.41        Raze     True   False      loss
15      Reyna  0:08       Reyna    False   False       win
16      Reyna  0:06       Reyna    False   False       win
17       Jett  0:04       Reyna     True   False      loss
18    Phoenix  0:10      Cypher    False   False       win
19       Jett  0:05        Jett     True   False      loss
20       Raze  0:19        Omen    False   False       win
21       Jett  0:05       Reyna     True    True       win
22       Raze  0:11        Omen    False   False       win

In [50]:
df.query('planted == True & round_win == "win"')

   first_kill  time first_death  planted  defuse round_win
2        Jett  0:03       Reyna     True   False       win
3      Cypher  0:13        Neon     True   False       win
7        Raze  0:03        Jett     True   False       win
8      Cypher  0:10        Jett     True   False       win
9     Phoenix  0.22        Sova     True   False       win
10       Jett  0:04        Jett     True   False       win
21       Jett  0:05       Reyna     True    True       win

In [52]:
df.query('first_death == "Jett"')

   first_kill  time first_death  planted  defuse round_win
1       Reyna  0.21        Jett     True    True      loss
7        Raze  0:03        Jett     True   False       win
8      Cypher  0:10        Jett     True   False       win
10       Jett  0:04        Jett     True   False       win
19       Jett  0:05        Jett     True   False      loss

In [53]:
df.query('time < "0:30"')

   first_kill  time first_death  planted  defuse round_win
1       Reyna  0.21        Jett     True    True      loss
2        Jett  0:03       Reyna     True   False       win
3      Cypher  0:13        Neon     True   False       win
4        Jett  0:26        Sova     True    True      loss
5        Omen  0:10        Raze    False   False      loss
6        Jett  0:03     Phoenix    False   False      loss
7        Raze  0:03        Jett     True   False       win
8      Cypher  0:10        Jett     True   False       win
9     Phoenix  0.22        Sova     True   False       win
10       Jett  0:04        Jett     True   False       win
11       Omen  0:10     Phoenix    False   False       win
12       Jett  0:04        Neon    False   False      loss
13      Reyna  0:07        Raze     True   False      loss
14      Reyna  0.41        Raze     True   False      loss
15      Reyna  0:08       Reyna    False   False       win
16      Reyna  0:06       Reyna    False   False       win
17       Jett  0:04       Reyna     True   False      loss
18    Phoenix  0:10      Cypher    False   False       win
19       Jett  0:05        Jett     True   False      loss
20       Raze  0:19        Omen    False   False       win
21       Jett  0:05       Reyna     True    True       win
22       Raze  0:11        Omen    False   False       win