In [4]:
import pandas as pd, matplotlib.pyplot as plt, numpy as np

In [7]:
df = pd.read_csv(r'D:\PROJECTS\demo-analysis-timeline\res\scrims\lotus_14_08_2023_time_20_06.csv', sep='\t', index_col=0)

In [8]:
df

   first_kill  time first_death  planted  defuse round_win  side
1     Phoenix  0:04       Reyna    False   False       win   NaN
2        Jett  0:07        Jett    False   False       win   NaN
3        Jett  0:06        Jett     True   False      loss   NaN
4    Deadlock  0:04        Jett     True   False      loss   NaN
5        Jett  0:06        Jett    False   False       win   NaN
6        Jett  0:16     Chamber    False   False       win   NaN
7    Deadlock  0:06        Jett    False   False       win   NaN
8        Omen  0:03       Reyna     True   False      loss   NaN
9     Chamber  0:19     Phoenix    False   False       win   NaN
10      Reyna  0:09        Jett     True   False      loss   NaN
11    Killjoy  0:19       Reyna     True   False      loss   NaN
12       Jett  0:04        Jett    False   False      loss   NaN
13       Jett  0:04        Jett    False   False      loss   NaN
14       Jett  0:04       Reyna    False   False      loss   NaN
15    Phoenix  0:03        Jett     True   False       win   NaN
16      Reyna  0:03        Jett    False   False      loss   NaN
17      Reyna  0:05    Deadlock    False   False      loss   NaN
18   Deadlock  0:04        Jett     True   False       win   NaN
19    Chamber  0:11       Reyna     True    True      loss   NaN
20      Reyna  0:03       Reyna     True    True      loss   NaN
21       Jett  0:03        Jett    False   False      loss   NaN

In [10]:
df.query('planted == True & round_win == "win"')

   first_kill  time first_death  planted  defuse round_win  side
15    Phoenix  0:03        Jett     True   False       win   NaN
18   Deadlock  0:04        Jett     True   False       win   NaN

In [11]:
df.query('first_death == "Jett"')

   first_kill  time first_death  planted  defuse round_win  side
2        Jett  0:07        Jett    False   False       win   NaN
3        Jett  0:06        Jett     True   False      loss   NaN
4    Deadlock  0:04        Jett     True   False      loss   NaN
5        Jett  0:06        Jett    False   False       win   NaN
7    Deadlock  0:06        Jett    False   False       win   NaN
10      Reyna  0:09        Jett     True   False      loss   NaN
12       Jett  0:04        Jett    False   False      loss   NaN
13       Jett  0:04        Jett    False   False      loss   NaN
15    Phoenix  0:03        Jett     True   False       win   NaN
16      Reyna  0:03        Jett    False   False      loss   NaN
18   Deadlock  0:04        Jett     True   False       win   NaN
21       Jett  0:03        Jett    False   False      loss   NaN

df.query('time < "0:30"')