In [1]:
# Importing packages/modules/libraries
import pandas as pd, matplotlib.pyplot as plt, numpy as np

## Importing the csvs

All the paths of the csv files are typed out into the pd.read_csv() function and loaded into their own seperate tables, which must then be made into one large table.

In [12]:
df = pd.read_csv(r'D:\PROJECTS\demo-analysis-timeline\res\scrims\lotus_18_08_2023_time_21_41.csv', sep='\t', index_col=0)
df1 = pd.read_csv(r'D:\PROJECTS\demo-analysis-timeline\res\scrims\lotus_18_08_2023_time_21_44.csv', sep='\t', index_col=0)
df2 = pd.read_csv(r'D:\PROJECTS\demo-analysis-timeline\res\scrims\lotus_18_08_2023_time_21_55.csv', sep='\t', index_col=0)
df3 = pd.read_csv(r'D:\PROJECTS\demo-analysis-timeline\res\scrims\lotus_18_08_2023_time_21_57.csv', sep='\t', index_col=0)
df4 = pd.read_csv(r'D:\PROJECTS\demo-analysis-timeline\res\scrims\lotus_18_08_2023_time_22_10.csv', sep='\t', index_col=0)

## Loading all 5 csv files into one dataframe (table)

This is done using pd.concat() function, since all of them are concatenated.

In [101]:
data = pd.concat([df,df1,df2,df3,df4])
print(data)

   first_kill  time first_death  planted   fb_team  defuse    side  \
1        Fade  0:17      Harbor    False       you   False  Attack
2        Jett  0:16        Fade    False  opponent   False  Attack
3       Reyna  0:03      Harbor     True       you   False  Attack
4        Jett  0:04        Omen     True       you   False  Attack
5       Reyna  0:05        Sage    False       you   False  Attack
..        ...   ...         ...      ...       ...     ...     ...
20      Gekko  0:02        Neon     True  opponent   False  Attack
21       Raze  0:15        Neon     True  opponent    True  Attack
22       Jett  0:12   Brimstone     True  opponent   False  Attack
23       Raze  0:06   Brimstone     True  opponent    True  Attack
24      Gekko  0:02   Brimstone     True  opponent   False  Attack

      fb_players    dt_players team_buy oppo_buy round_win
1   Gunda Ganesh           NaN      600      600      loss
2            NaN  Gunda Ganesh      300    3,100      loss
3         ValkoN           NaN    4,300    3,200       win
4           ANXY           NaN    4,400    4,400       win
5         ValkoN    Sagittario    4,100      800       win
..           ...           ...      ...      ...       ...
20    Lil Edward        ValkoN    4,900    2,200       win
21  CuteThiccBoi        ValkoN    5,000    3,500      loss
22         Zhask         ROXER    4,400    4,300       win
23  CuteThiccBoi         ROXER    4,500    3,200      loss
24    Lil Edward         ROXER    3,700    3,900       win

[108 rows x 12 columns]

In [161]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108 entries, 1 to 24
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   first_kill   108 non-null    object
 1   time         108 non-null    object
 2   first_death  108 non-null    object
 3   planted      108 non-null    bool
 4   fb_team      108 non-null    object
 5   defuse       108 non-null    bool
 6   side         108 non-null    object
 7   fb_players   91 non-null     object
 8   dt_players   74 non-null     object
 9   team_buy     108 non-null    int32
 10  oppo_buy     108 non-null    int32
 11  round_win    108 non-null    object
dtypes: bool(2), int32(2), object(8)
memory usage: 8.6+ KB

## Data preprocessing / cleaning

Team buy and oppo buy columns are currently strings rather than objects so we have to convert them into integers so we can perform artihmetic operations and calculations on them.

In [119]:
data.team_buy = data.team_buy.str.replace(',','')
data.oppo_buy = data.oppo_buy.str.replace(',','')

In [120]:
data.team_buy = data.team_buy.astype(int)
data.oppo_buy = data.oppo_buy.astype(int)

In [121]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108 entries, 1 to 24
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   first_kill   108 non-null    object
 1   time         108 non-null    object
 2   first_death  108 non-null    object
 3   planted      108 non-null    bool
 4   fb_team      108 non-null    object
 5   defuse       108 non-null    bool
 6   side         108 non-null    object
 7   fb_players   91 non-null     object
 8   dt_players   74 non-null     object
 9   team_buy     108 non-null    int32
 10  oppo_buy     108 non-null    int32
 11  round_win    108 non-null    object
dtypes: bool(2), int32(2), object(8)
memory usage: 8.6+ KB

# Queries:

These are different questions that data can answer for you in context

In [124]:
data.query('team_buy >= 3500 & oppo_buy <= 2000')['round_win']

5      win
8      win
11     win
5      win
8      win
11     win
4     loss
6      win
9      win
10     win
11     win
9     loss
14     win
15    loss
17     win
18    loss
Name: round_win, dtype: object

In [109]:
data.query('time > "0:15"')['round_win'].value_counts()

round_win
loss    14
win      7
Name: count, dtype: int64

In [153]:
data.query('planted == True')['round_win'].value_counts()

first_kill
Jett         19
Raze         10
Reyna         7
Neon          6
Chamber       5
Skye          4
Harbor        4
Killjoy       3
Gekko         3
KAY/O         2
Breach        2
Cypher        2
Sage          2
Viper         2
Fade          2
Omen          2
Astra         1
Brimstone     1
Name: count, dtype: int64

In [156]:
data.query('fb_team == "you"')['first_kill'].value_counts()

first_kill
Reyna        11
Jett         11
Fade          8
Neon          7
Raze          5
Killjoy       4
Viper         2
Breach        2
Astra         2
Cypher        1
Harbor        1
Chamber       1
Brimstone     1
Gekko         1
Name: count, dtype: int64

In [158]:
data.query('(first_kill == "Jett" | first_kill == "Neon" | first_kill == "Raze"| first_kill == "Reyna"| first_kill == "Raze") & fb_team == "you"')['round_win'].value_counts()

round_win
win     23
loss    11
Name: count, dtype: int64

In [ ]:
bonus
site a b
guns saved 
round conversion post guns save
trades
weapons saved